<html>
    <head>
        <title>Thrift n Thrive</title>
        <link rel="stylesheet" href="./static/index.css">
    </head>
    <body>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
        <div class="container">
            <h1>Welcome to Thrift n Thrive</h1>
            <p>Thrift n Thrive is a platform that allows you to buy and sell used items. We believe that buying and selling used items is a great way to save money and reduce waste. We hope you enjoy using our platform!</p>
        </div>
    </body>
</html>